<!DOCTYPE html>
<html>
<head>
    <title>websocket test</title>
    <meta charset="UTF-8"/>
    <script src='http://maps.google.com/maps/api/js?sensor=false' type='text/javascript'></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/views/mix.js"></script>
    <script type="text/javascript" src="/views/mix.modules.js"></script>
    <script type="text/javascript">
    var obj = WebSocketClient;
    obj.connect({
        url: "ws://" + location.host,
        autoReconnect: true,
        heartbeatInterval: 10000
    });

    obj.getJSON(function(data) {
        drawMap(data.lat, data.lng, data.userId);
        document.getElementById("result").innerHTML += "<p>" + JSON.stringify(data) + "</p>";
    });

    obj.onOpen(function() {
        $("#getPosition").attr("disabled", false);
    });

    obj.onError(function() {
        $("#getPosition").attr("disabled", true);
    });

    window.__MAP__ = {};

    jQuery(function() {
        google.maps.event.addDomListener(window, 'load', function() {
            drawMap("35.643746", "139.826238");
        });
        jQuery("#move").on("click", moveMap);

        $("#getPosition").on("click", function() {
            obj.send(JSON.stringify({requestId: "send_request_android", userId: "ryuichi"}));
        });
    });

    // 指定した位置に移動する
    function moveMap() {
        var lat = jQuery("#__lat__").html(),
            lng = jQuery("#__lng__").html();
        var latlng = new google.maps.LatLng(lat, lng);
        window.__MAP__.panTo(latlng);
        showHistory(lat, lng);
    }

    // 地図を描画する
    function drawMap(lat, lng, userId) {
        jQuery("#map").empty();
        var latlng = new google.maps.LatLng(lat, lng);

        window.__MAP__ = new google.maps.Map(document.getElementById("map"), {
            zoom: 17,
            scaleControl: true,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var marker = new google.maps.Marker({
            position: latlng,
            map: window.__MAP__,
            icon: "/images/man.png"
        });

        google.maps.event.addListener(marker, 'click', function(event) {
            new google.maps.InfoWindow({
                content: userId
            }).open(marker.getMap(), marker);
        });

    }

    </script>

    <style type="text/css">
        div#map {
          width: 400px;
          height: 700px;
          float: left; }

        .clearfix {
          clear: both; }

        .hidden {
          display: none; }

    </style>

</head>
<body>
    <input type="button" id="getPosition" value="getPosition"/>
    <div id="map"></div>
    <div id='move'></div>
    <div id="result"></div>
</body>
</html>